@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --border-color: #BDBDBD;
  --icon-color: #FFFFFF;
  --light-primary-color: #c7bfff;
  --primary-color: #6750a4;
  --auxiliar-color: #7e5260;
  --black: #212121;
  --bg-color: #e6e1e6;
}
html{
  height: 100vh;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;

}

/* DASHBOARD */
.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45px;
  height: 100%;
  align-items: center;
  background-color: var(--primary-color);
  justify-content: space-between;
  /* padding-top: 30px; */
  padding-bottom: 100px;
}

/* ICONS */
.DashboardIcon {
  display: flex;

  height: 30px;
  justify-content: center;
  align-items: center;
}


.Icon {
  width: 90%;
  height: 90%;
  color: var(--icon-color)
}

.Icon#Emoji {
  color: #2d1f7b;
  height: 21px;
  width: 21px;
}


/* ChatBar section */


.ChatBar {
  width: 100%;
  height: 80px;
  background-color: var(--primary-color);
  border-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.MenuContainer{
  display: flex;
  height: 100%;
  width: 45px;
  align-items: center;
  justify-content: center;
}
.ToggleButton {
  display: flex;
  width: 45px;
  justify-content: center;
  align-items: center;

}

.UserName {
  display: flex;
  align-items: center;
  height: 100%;
  width: 300px;
  justify-content: space-around;
}

.userImage {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.text {
  font-family: 'Roboto-Regular';
  color: var(--icon-color);
}

/* Chat section */

.ChatContainer {
  width: 100%;
  height: 100%;
  display: flex;
}
.MessageSection {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.BottomBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: var(--light-primary-color);
  color: #2d1f7b;
}

/* TypingBar */
.TypingContainer {
  display: flex;
  height: 60%;
  width: 80%;
  align-items: center;
}

.TypingContainer>input {
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--border-color);
  font-family: 'Roboto-Regular';
  font-size: 1.2rem;
  padding-left: 10px;
}

.TypingContainer>input:focus {
  outline: none;
}