#root{
  display: flex;
}
.Dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  align-items: center;
}
div.ToggleIcon>img{
  display: flex;
  width: 30px;
}