@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --border-color: #BDBDBD;
  --icon-color: #FFFFFF;
  --light-primary-color: #B2EBF2;
  --primary-color: #00BCD4;
  --bg-color: #009688;
  --black: #212121;
}
html{
  height: 100vh;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: var(--border-color);
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;

}

/* DASHBOARD */
.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45px;
  height: 100vh;
  align-items: center;
  background-color: var(--primary-color);
  justify-content: space-evenly;

}

/* ICONS */
.DashboardIcon {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
}

.Icon {
  width: 90%;
  height: 90%;
  color: var(--icon-color)
}

.Icon#Emoji {
  color: var(--border-color)
}


/* ChatBar section */


.ChatBar {
  width: 100%;
  height: 80px;
  background-color: var(--primary-color);
  border-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.MenuContainer{
  display: flex;
  height: 100%;
  width: 45px;
  align-items: center;
  justify-content: center;
}
.ToggleButton {
  display: flex;
  width: 45px;
  justify-content: center;
  align-items: center;

}

.UserName {
  display: flex;
  align-items: center;
  height: 100%;
  width: 300px;
  justify-content: space-around;
}

.userImage {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.text {
  font-family: 'Roboto-Regular';
  color: var(--icon-color);
}

/* Chat section */

.ChatContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.MessageSection {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.BottomBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: var(--light-primary-color);
}

/* TypingBar */
.TypingContainer {
  display: flex;
  height: 60%;
  width: 80%;
}

.TypingContainer>input {
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--border-color);
  font-family: 'Roboto-Regular';
  font-size: 1.2rem;
  padding-left: 2rem;
}

.TypingContainer>input:focus {
  outline: var(--black) solid 1px;
}