@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
}

html{
  height: 100vh;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

